.snippet-html {
  cursor: pointer;
}

/* experiment to quicken process */

.snippet-iframe-container {
  background-color: none;
  left: 25%;
  width: 50%;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 4444444444;
  transition: all 0.7s;
  color: white;
  height: 6.5rem;
  padding: 0 !important;
  margin: 0 !important;
  border: "none" !important;
  border-width: 0 !important;
  border-style: none !important;
  border-color: none !important;
  border-image: none !important;
}

/* The real jazz */

/* .snippet-iframe-container {
  background-color: none;
  left: 25%;
  width: 50%;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 4444444444;
  transition: all 0.7s;
  color: white;
  height: 0;
  padding: 0 !important;
  margin: 0 !important;
  border: "none" !important;
  border-width: 0 !important;
  border-style: none !important;
  border-color: none !important;
  border-image: none !important;
} */

.snippet-iframe-container.active {
  transition: all 0.7s;
  height: 6.5rem;
}

.question-form {
  background-color: white;
  border-radius: 2rem;
}
